  		.amp__sidebar {
  			width:75%;
  			background-color:white;
  		}
  		.amp__sidebar .i-amphtml-accordion-header {
  			background-color:white;
  		}
  		.amp__sidebar h2 {
  			font-family: $headerfont;
  		}
 
