
.product-detail__header {
	display:flex;
	justify-content:space-between;
}

.product-detail__heading {
	width:75%;
}
.product-detail__heading h1 {
	font-size: 24px;
	margin-bottom: 8px;
}

.product-detail__price {
	text-align:right;
}
.product-detail__price--main {
	font-size:24px;
}
.product-detail__price--main span {
	display:inline-block;
	vertical-align: top;
	font-size: 18px;
}
.product-detail__price--save {
	border:1px solid;
	padding:4px;
}
.product-detail__price--was {
	font-size: 14px;
}
.product-detail__price--was span {
	text-decoration: line-through;
}
.product-detail__input-text input, .product-detail__input-text label {
	width:100%;	
	display:block;
}

.product-detail__quantity {
	display:flex;
	align-items:center;
}

.product-detail__quantity div {
	margin-right: 10px;
}
.product-detail__quantity-minus, .product-detail__quantity-plus {
	border:1px solid;
	height:30px;
	width:30px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;	
    display: flex;
    align-items:center;
    justify-content: center;

}




.product-info__desktop-nav {
	display:none;
}
.product-info__item {
	border-bottom:1px solid #d5d6d8;
	margin-bottom: 16px;
}
.product-info__item-header {
	display:flex;
	justify-content:space-between;	
}

.product-info__item-detail {
	display:none;
}
.product-info__item--active .product-info__item-detail {
	display:block;
}

.product-recommendations {
	border-top: 1px solid #d5d6d8;
	padding-top:8px;
}


@media only screen and (min-width: 768px) {

.product-detail__header {
	display:block;
}
.product-detail__price {
	text-align:left;
	display: flex;
	align-items:center;
}
.product-detail__price div {
	margin-right:10px;
}
.product-detail__price--save {
	display:inline-block;
}



.product-info__item {
	display: none;
}
.product-info__item-detail {
	display:block;
}
.product-info__item--active {
	display: block;
}
.product-info__item-header span {
	display:none;
}
.product-info__desktop-nav {
	display: block;
	width:25%;
	float:left;	
}
.product-info__desktop-nav-item {

}

.product-info__item {
	width:75%;
	float:right;
	border-bottom: 0px
}







}
