.module-container {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border-radius: 2px;
  padding:$df_pad;
  
  
  input {
  	width:100%;
  	border:0px;
  	border-bottom:1px solid $light-grey;
  }
}


.checkout-field {
	position:relative;
}