.product-details__price {
    padding-bottom: 8px;
    border-bottom: 1px solid #d5d6d8;
}
.product-details__price--primary span {
    color: #f15b29;
    font-size: 2.2em;
    font-weight: bold;
}


/* New Image Plugin Stuff */

.product-image__main {
	position:relative;
}
.product-image__thumbs {
	display:none;
}
.main-product-image__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);	
  z-index:9999;
}
.main-product-image__icon.prev {
	left:5px;
}
.main-product-image__icon.next {
	right:5px;
}
.icon-background {
	color:rgba(245,245,245,0.7);
}



@media only screen and (min-width: $min_md) {
.main-product-image {
	display:flex;
	justify-content:space-between;
}
.product-image__thumbs {
	width:15%;
	display:block;
}
.product-image__main {
	width:84%;
}
}