.landing-page-band {
	background-repeat:no-repeat;
	background-size: 100%;
	background-position:center;
	position:relative;
	margin-top:-16px;
}
.landing-page-banner__headline {
	position:absolute;
	width:100%;
	text-align:center;
	top:0;
	left:0;
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
	h1,h2 {
		color:white;
		text-shadow: 2px 2px $med-grey;
	}
}


.landing-panel__button {
	padding:$df_pad/2;
	border-radius:5px;
	text-align: center;
	background-color:$orange;
	color:white;

	position:absolute;
	bottom:10px;
	left: 50%;
	-webkit-transform: translateX(-50%);
  	transform: translateX(-50%);
}

.landing-panel__button:hover {
	cursor:pointer;
	transition:all 250ms ease;
	border:2px solid $orange;
}


.landing-page-banner__snippet {
	width:90%;
	margin:0 auto;
}

@media screen and (min-width:992px) {
.landing-page-banner__headline {
	h1 {
	font-size:3em;
		}	
}
.home-content__intro {
	width:60%;
	margin:0 auto;
	p {
		text-align: justify;
	}
	}
}

.landing-page__links {

}
.landing-page__link {
	display:inline-block;
 	margin-right:10px;
}

.circle {
  height: 200px;
  width: 200px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background-color: $blue;
  padding:$df_pad;
  color:white;
  font-size: 24px;
}
.circle:hover {
	text-decoration:none;
	background-color: $blue2;
}