.marb_d2 {
	margin-bottom:$df_mar * 2;
}

.landing-page-band {
	background-repeat:no-repeat;
	background-size: 100%;
	background-position:center;
	position:relative;
}

.landing-panel {
	position:relative;
}


.landing-panel__button {
	padding:$df_pad/2;
	border-radius:5px;
	text-align: center;
	background-color:$orange;
	color:white;

	position:absolute;
	bottom:24px;
	left: 50%;
	-webkit-transform: translateX(-50%);
  	transform: translateX(-50%);
}

.landing-panel__button:hover {
	cursor:pointer;
}


.landing-page-banner__snippet {
	width:90%;
	margin:0 auto;
	background-color: rgba(255,255,255,0.8);
}

@media screen and (min-width:992px) {

.landing-page-banner__headline {
	h1 {
	font-size:3em;
		}	
}
.home-content__intro {
	width:60%;
	margin:0 auto;
	p {
		text-align: justify;
	}
	}
}

.landing-page__links {

}
.landing-page__link {
	display:inline-block;
 	margin-right:10px;
}

.circle {
  height: 200px;
  width: 200px;
  display: table-cell;
  font-family: verlag;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background-image: url('../../new-homepage/images/snow-pattern.png'), linear-gradient(-90deg, #4f0c30 , #721232); 
  background-size: contain;
  padding:$df_pad;
  color:#fdce9e;
  font-size: 24px;
}
.circle:hover {
	text-decoration:none;
	background-image: url('../../new-homepage/images/snow-pattern.png'), linear-gradient(-90deg, #4f0c30 , #711145); 
}

.slider.swipe-elements {
	display:flex;
}
.swipe-elements .slick-arrow {
	display:flex;
	align-items:center;
}
.icon-background {
	color:#f5f5f5;
}
.swipe-elements img {
	padding-right:10px;
}


.home-adam {
	display:flex;
}
.home-adam__image {
	width:15%;
}
  
/* Blockquote */
blockquote {
  display:block;
  padding: 16px 20px 16px 45px;
  position: relative;
  font-style: italic;
  font-family:$headerfont;
  font-weight:300;
  }
 blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-size: 60px;
  font-weight: bold;    
  
  /*Positioning*/
  position: absolute;
  left: 10px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
} 