.mobile-masthead {
	justify-content:space-between;
	padding:8px;
}
#mobileMenuIcon div {
	font-size:14px;
	margin-top:-8px;
}

.mobile-masthead__logo {
	width:50%;
	img {
		vertical-align: middle;
	}
}